body {
	text-align: justify;
	font-family: Arial, sans-serif;
	margin-left: 2vw;
	margin-right: 2vw;
}

pre code.language-python {
	display: block;
	padding: 1em;
	background-color: #f4f4f4;
	color: #333;
	font-size: 14px;
	font-family: Monaco, monospace;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow-x: auto;
}
  
pre code.language-python::before {
	content: "Python";
	display: block;
	text-align: right;
	background-color: #333;
	color: #fff;
	padding: 2px 6px;
	font-size: 12px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}