body {
	text-align: justify;
	font-family: Arial, sans-serif;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: large;
	background-color: #2c2c2c;
	color: #e4e4e4;
}

code {
	background-color: #1d1d1d;
	color: #CCCCCC;
	font-family: Monaco, monospace;
}

h1,h2,h3,h4 {
	text-align: left;
}

p {
	line-height: 1.5em;
}

pre code {
	display: block;
	padding: 1em;
	background-color: #000;
	color: white;
	font-size: medium;
	font-family: Monaco, monospace;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	overflow-x: auto;
}

/* H1 LINKS */

a.h1-link:link {
	color:white;
 	text-decoration: none;
}
a.h1-link:visited {
	color:white;
    text-decoration: none;
}
a.h1-link:hover {
	color:grey;
    text-decoration: underline;
}
a.h1-link:active {
	color:white;
    text-decoration: none;
}

/* NORMAL LINKS */

a:link {
	color: #979797;
 	text-decoration: none;
}
a:visited {
	color:#979797;
    text-decoration: none;
}
a:hover {
	color:#CCCCCC;
    text-decoration: underline;
}
a:active {
	color:#979797;
    text-decoration: none;
}