body {
	text-align: justify;
	font-family: Arial, sans-serif;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: medium;
}

pre code {
	display: block;
	padding: 1em;
	background-color: #f4f4f4;
	color: #333;
	font-size: medium;
	font-family: Monaco, monospace;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow-x: auto;
}

/* H1 LINKS */

a.h1-link:link {
	color:black;
 	text-decoration: none;
}
a.h1-link:visited {
	color:black;
    text-decoration: none;
}
a.h1-link:hover {
	color:grey;
    text-decoration: none;
}
a.h1-link:active {
	color:black;
    text-decoration: none;
}

/* INDEX LIST LINKS */

a.list-link:link {
	color:black;
 	text-decoration: none;
}
a.list-link:visited {
	color:black;
    text-decoration: none;
}
a.list-link:hover {
	color:grey;
    text-decoration: underline;
}
a.list-link:active {
	color:black;
    text-decoration: none;
}