/* HTML ELEMENTS */

body {
  font-family: "Segoe UI";
  font-size: 2.5vmin;
  background-color: #fff9f1;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

hr {
  width: 50vmin;
  color: black;
}

.hr-mobile {
  display:none;
}

/* TITLES AND SUBTITLES */

h1 {
  font-size: 6vmin;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4vh;
  margin-bottom: 4vh;
}

h2 {
  font-size: 5vmin;
  font-weight:bold;
  text-align: left;
  margin-bottom: 3vh;
  margin-bottom: 3vh;
}

h3 {
  font-size: 4vmin;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2vh;
  margin-bottom: 2vh;
}

h4 {
  font-size: 3.5vmin;
  font-weight:500;
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* WEB TITLE */

.web-title {
  display:flex;
  position: sticky;
  top: 0;
  width:100%;
  height: 6vmin;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  /*background-color: #FFE357;*/
}

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  border-top: 1vmin solid #FFE357;
  }

.web-title-content {
  position: fixed;
  top: 0;
  display:flex;
  width:80vmin;
  background-color: #FFE357;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.web-title-text-div {
  justify-content: flex-start;
  width: 48vmin;
  height: 6vmin;
  display: flex;
  margin-left: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  align-items: center;
}

.web-title-text {
  text-decoration-line:none;
  color:black;
  font-size: 4vmin;
  font-weight:450;
  justify-content: left;
}

.web-title-text:link {
  text-decoration-line:none;
  color:black;
}

.web-title-text:visited {
  text-decoration-line:none;
  color:black;
}

.title-image {
  height: 5vmin;
  margin-right: 1vmin;
}

/* NAVBAR */

.navbar-div {
  width: 28vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.navbar-text {
  color: rgb(113, 113, 113);
  text-decoration-line:none;
  font-size: 3.5vmin;
  justify-content: left;
  transition: color .3s;
}

.navbar-text:hover {
  color: white;
}

/* INDEX */

.index-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.article-preview {
  width: 80vmin;
  justify-content: center;
  text-align: left;
}

.article-preview-title {
  color: #000000;
  text-decoration-line:none;
  transition: color .3s;
}

/* mouse over link */
.article-preview-title:hover {
  color: #FFE357;
}

/* ARTICLE */

.content-image {
  max-width: 100%;
}

.article-page-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.article-title {
  margin-bottom: 5vh;
}

.article {
  justify-content: center;
  width: 80vmin;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  text-align: left;
}

.article p a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.article p a:visited {
  text-decoration: none;
  color: #939393;
}

.article p a:hover {
  text-decoration: none;
  color: #FFE357;
}

.article ul li a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.article ul li a:visited {
  text-decoration: none;
  color: #939393;
}

.article ul li a:hover {
  text-decoration: none;
  color: #FFE357;
}

.article ol li a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.article ol li a:visited {
  text-decoration: none;
  color: #939393;
}

.article ol li a:hover {
  text-decoration: none;
  color: #FFE357;
}

.article-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
}

.article-footer-text {
  text-align: center;
}

.article-footer-text-link {
  text-decoration: none;
  color: #656565;
  transition: color .3s;
}

.article-footer-text-link:hover {
  color: #FFE357;
}

/* ABOUT ME */

.about-me {
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.about-me p a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.about-me p a:visited {
  text-decoration: none;
  color: #939393;
}

.about-me p a:hover {
  text-decoration: none;
  color: #FFE357;
}

.about-me ul li a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.about-me ul li a:visited {
  text-decoration: none;
  color: #939393;
}

.about-me ul li a:hover {
  text-decoration: none;
  color: #FFE357;
}

.about-me ol li a:link {
  text-decoration: none;
  color: #939393;
  transition: color .3s;
}

.about-me ol li a:visited {
  text-decoration: none;
  color: #939393;
}

.about-me ol li a:hover {
  text-decoration: none;
  color: #FFE357;
}

.about-me-bio {
  margin-top: 2vh;
  width: 80vmin;
}

.curriculum {
  margin-top: 2vh;
  width: 80vmin;
  display: flex;
  flex-direction: row;
}

.about-me-left {
  width: 38vmin;
}

.about-me-right {
  width: 38vmin;
  margin-left: 4vmin;
}

.experience-title {
  margin-bottom: 0vh;
}

.experience-title p {
  font-style: italic;
}

.experience-content{
  margin-bottom: 0vmin;
}

.tecnologies-list {
  color: #656565;
  font-style: italic;
}

/* PAGINATION */

.arrows {
 text-decoration: none;
 color: #656565;
}

.arrows:hover {
  color: #FFE357;
}

.paginator {
  margin-left: 1vw;
  margin-top: 2vh;
}

.content-text {
  text-decoration: none;
  color: black;
}

.content-text:hover {
  text-decoration: none;
  color: black;
}

/* TAGS */

.tags {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #FFE357;
  padding: .5em;
  margin-top: 5vh;
}

.tags p {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.tags h3 {
  text-align: center;
  margin-bottom: 1vh;
}

.tags a {
  text-decoration: none;
  color: #939393;
}

.tags a:hover {
  text-decoration: none;
  color: #FFE357;
  transition: color .3s;
}

/* TABLE OF CONTENT */

.toc {
  border-style: solid;
  border-radius: 0.5em;
  border-color: #FFE357;
  margin-bottom: 1em;
  padding: .5em;
  margin-bottom: 5vh;
}

.toc ul {
  list-style: none;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
}

.toc ul li {
  padding: .25em;
}

.toc ul li a:link {
  color: black;
  font-weight: 500;
  transition: color .3s;
  text-decoration-line:none;
}

.toc ul li a:visited {
  color: black;
}

.toc ul li a:hover {
  color: #FFE357;
  transition: color .3s;
}

.toc ul li ul {
  font-size: .90em;
  font-weight: 500;
  margin-left: 5px;;;;;
}

.toc ul li ul a:link {
  color: #939393;
  text-decoration-line:none;
  transition: color .3s;
}

.toc ul li ul a:visited {
  color: #939393;
  text-decoration-line:none;
}

.toc ul li ul a:hover {
  color: #FFE357;
  transition: color .3s;
}

/* QUOTES */

blockquote {
  background: #fff5c1;
  border-left: 10px solid #FFE357;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #FFE357;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* MOBILE DISPLAY */

.mobile-display {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-display {
    display:contents;
  }

  a:hover {
    color: #939393;
  }

  .index-div a:hover {
    color: black;
  }

  .article-page-div a:hover {
    color: black;
  }

  .about-me p a:hover {
    color: #939393;
  }

  .navbar a:hover {
    color: rgb(113, 113, 113);
  }

  .toc ul li a:hover {
    color: black;
  }

  .toc ul li ul a:hover {
    color: #939393;
  }

  body {
    /*font-family: Palatino, Georgia, Times, "Times New Roman", serif;*/
    font-size: 6vmin;
  }

  footer {
    font-size: 3vmin;
  }

  h1 {
    font-size: 10vmin;
  }
  
  h2 {
    font-size: 8vmin;
  }
  
  h3 {
    font-size: 7vmin;
  }
  
  h4 {
    font-size: 6vmin;
  }

  .topbar {
    border-top: 2vmin solid #FFE357;
  }
  .web-title-content {
    width: 96vmin;
    height: 10vmin;
  }

  .web-title-text-div {
    width: 55vmin;
  }

  .web-title-text {
    font-size: 6vmin;
  }

  .title-image {
    height: 8vmin;
  }

  .navbar-div {
    width: 35vmin;
  }

  .navbar-text {
    font-size: 4.5vmin;
  }

  .article-preview {
    width: 96vmin;
  }

  .article {
    width: 96vmin;
  }

  .curriculum {
    width: 96vmin;
    flex-direction: column;
  }
  
  .about-me-bio {
    margin-top: 2vh;
    width: 96vmin;
  }

  .about-me-left {
    width: 96vmin;
  }
  
  .about-me-right {
    width: 96vmin;
    margin-left: 0;
  }

  .hr-mobile {
    display:contents;
  }
  .tags {
    display: none;
  }
}