body {
  font-family: Palatino, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  background-color: white;
  text-size-adjust: none;
}


#index-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

#articles-list {
  display: flex;  
  flex-direction: column;
  align-items: center;
  
  width: 100vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#article-preview {
  width: 75vw;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  margin-bottom: 1vh;
  text-align: justify;
}
/*
#article-preview {

}
*/

#socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  background-color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 15px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#social {
  text-align: center;
}

#web-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #FFE357;
  margin-top: 0%;
  margin-bottom: 0%;
}

#web-title-text {
  text-decoration-line:none;
  color:black;
}

.inline-navbar {
  display: inline;
  margin-left: 1vw;
  margin-right: 1vw;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: rgb(25, 0, 255);
}


#navbar-link {
  color: white;
  text-decoration-line:none;
}

#article-page-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

#article {
  justify-content: center;
  width: 75vw;
  background-color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  text-align: justify;
}

/* mouse over link */
#navbar-link:hover {
  color: #FFE357;
}

#post-link {
  color: black;
  text-decoration-line:none;
}

/* mouse over link */
#post-link:hover {
  color: #FFE357;
}

ul {
  margin-top: 0%;
  margin-bottom: 0%;
}

hr {
  width: 75vw;
  color: beige;
}

.paginator {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}