body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 24px;
  background-color: white;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 0vh;
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight:400;
}

h2 {
  font-size: 35px;
  font-weight:500;
}

#index-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

#articles-list {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#article-preview {
  width: 60vw;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  margin-bottom: 1vh;
  text-align: justify;
}
/*
#article-preview {

}
*/

#socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  background-color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 15px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#social {
  text-align: center;
}

#web-title {
  display: flex;
  width:100%;
  height: 7vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFE357;
}

#web-title-div {
  display: flex;
  width:95vw;
  height: 6vh;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#web-title-text {
  font-size: 35px;
  text-decoration-line:none;
  color:black;
  height: 6vh;
  width: 100%;
}

#title-image {
  height: 6vh;
  margin-right: 1vw;
}

.inline-navbar {
  display: inline;
  margin-left: 1vw;
  margin-right: 1vw;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 100%;
  font-weight:400;
}

.navbar-div {
  display: flex;
  margin-left: 4vw;
  align-items: center;
}

#navbar-link {
  color: rgb(113, 113, 113);
  text-decoration-line:none;
}

#article-page-div {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.article-title {
  text-align: center;
}

#article {
  justify-content: center;
  width: 75vw;
  background-color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  text-align: justify;
}

/* mouse over link */
#navbar-link:hover {
  color: #444444;
}

#post-link {
  color: black;
  text-decoration-line:none;
}

/* mouse over link */
#post-link:hover {
  color: black;
}

ul {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

hr {
  width: 62vw;
  color: beige;
}

.paginator {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media screen and (max-width: 600px) {
  body {
    /*font-family: Palatino, Georgia, Times, "Times New Roman", serif;*/
    font-size: 3.75vw;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  #article-preview {
    width: 80vw;
  }

  hr {
    width: 82vw;
  }
  #web-title-text {
    font-size: 6vw;
  }
  .navbar-div {
    font-size: 4.5vw;
  }
  
}